body{
    width: 100%;
    margin:0;
}

#wrapper{
    width:74%;
    margin: auto;
}

ul{
    padding-inline-start: 10px;
}

header p{
    position: absolute;
    z-index: 3;
    color:#fff;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

nav{
    width:100%;
    height: 56px;
    background-color: #09142a;
}

nav ul{
    width:40%;
    height: 20px;
    float: right;
    margin-right: 13%;
    display: block;
}

nav ul li{
    float: right;
    color:#FFF;
    margin-left: 6%;
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    list-style: none;
}

#steel_border{
    width:100%;
    height: auto;
}

#steel_border img{
    max-width: 100%;
    position: static;
    z-index: 1;
    display: block;
}

#logo{
    width:21%;
    position: absolute;
    margin-left: 9.5%;
    top: 40px;
}

nav img{
    max-width:100%; 
    position: relative;
    z-index:2;
}

#background_images{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

#image-left{
    width:28%;
    height: 100%;
    background-image: url("../images/orc.jpg");
    float: left;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#image-right{
    width:13%;
    height: 100%;
    float: right;
    background-image: url("../images/human.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebarmenu{
    width:20%;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.5);
    clear: both;
    display: block;
    float: left; 
}

.menu_left{
    width:15%;
    float: left;
}

#menu_categories img{
    max-width:100%;
    border-radius: 100%;
}

.maincontent{
    width: 60%;
    height: auto;
    background-color: #2e3638;
    float: left;
}

.contentfeeds{
    width:20%;
    height: 1080px;
    float: right;
    background-color: #2e3638;
    padding-top: 5px;
}

.contentfeeds img{
    max-width: 98%;
    margin: auto;
}

#twitter{
    width:98%;
}

.wrapper{
    width:98%;
    margin: auto;
}

#guide_image{
    width:100%;
    margin-top: 5px;
}

#guide_image img{
    max-width:100%;
}

#content{
    width:100%;
    height: auto;
    background-image: url("../images/paper-repeat.jpg");
    background-repeat: repeat;
    display: block;
    float: left;
}

#content h1{
}

#content h2{
}

#content p{
}

#content img{
    max-width: 100%;
}

h1{
    font-family: 'lifecraftfont';
    src: url('../fonts/lifecraftfont.woff'); 
    font-size: 200%;
    color: #e9d839;
    text-shadow: 2px 2px 5px #000000;
    padding-left: 10px;
}

h2{
    font-size: 130%;
    font-family: 'lifecraftfont';
    src: url('../fonts/lifecraftfont.woff'); 
    color: #e9d839;
    text-shadow: 2px 2px 5px #000000;
    padding-left: 10px;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    padding-left: 10px;
    margin-bottom: 5px;
    font-

}

#youtube_video{
    width:100%;
}

/* shit fra tim */

 .accordion {
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
            transition: 0.4s;
            text-transform: uppercase;
        }

        .active,
        .accordion:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .panel {
            display: none;
            overflow: hidden;
            clear: both;
        }

        .sidebar ul {
            text-decoration: none;
            list-style-type: none;

        }

        @font-face {
            font-family: 'lifecraftfont';
            src: url('../fonts/lifecraftfont.woff');
        }

        .sidebar {
            padding-top: 50px;
            color: #e9d839;
            margin: 0;
        }


        .sidebar,
        button {
            font-family: 'lifecraftfont';
            color: #e9d839;
            background-color: Transparent;
        }

        /* unvisited link */
        a:link {
            color: #e9d839;
            text-decoration: none;

        }

        /* visited link */
        a:visited {
            color: #e9d839;
            text-decoration: none;
        }

        /* mouse over link */
        a:hover {
            color: hotpink;
        }

        /* selected link */
        a:active {
            color: blue;
        }

        .classes {
            background: none;
            cursor: pointer;
            width: 85%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            float: left;
        }

        .druid {
            color: #FF7D0A !important;
        }

        .druid a {
            color: #FF7D0A !important;
        }
        
                .paladin a {
            color: #F58CBA !important;
        }
                .paladin{
            color: #F58CBA !important;
        }


/* ADMIN */

nav #admin-nav{
    width:100%;
    height: 70px;
    background-color: #CCC;
    opacity: 0.5;
}

#addGuide{
    width:80%;
    margin-left:10%;
}

#addGuide form p{
    width:100%;
    font-size: 125%;
    height: 50px;
    color:#000;
    padding-bottom: 20px;
    font-weight: bold;
}

#addGuide form{
    width:100%;
    height: auto;
    margin-top: 10px;
}

#addGuide form input{
    width:95%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color:#ccc;
    border:none;
    padding: 1%;
    font-family: 'roboto';
    font-size: 125%;
    text-transform: uppercase;
    font-weight: bold;
    
}

#addGuide textarea{
    width:95%;
    height: 500px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color:#ccc;
    border:none;
    padding: 1%;
    font-family: 'roboto';
    font-size: 125%;
    text-transform: uppercase;
    font-weight: bold;
    
}

#editGuide{
    width:80%;
    margin-left:10%;
    background-color: #CCC;
}

.icon_left{
    width:100%;
    height: 60px;
    margin-top: 10px;
}

.icon_left h2{
    float: left;
    margin-left: 10px;
    font-size: 40px;
}

.icon_left img{
    float: left;
    max-width: 40px;
}

/* GUIDE */

.align{
    vertical-align: bottom;
}

.text_image_section{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.guidefloat_right{
    width:30%;
    float: right;
    display:inline-block;
    vertical-align:middle;
}

.guidefloat_right img{
    max-width: 100%;
}

.guidefloat_left{
    width:30%;
    float: left;
    display:inline-block;
    vertical-align:middle;
}

.guidefloat_left img{
    max-width: 100%;
}

.left_text{
    width:70%;
    float: left;
    display:inline-block;
    vertical-align:middle;
}

.right_text{
    width:70%;
    float: right;
    display:inline-block;
    vertical-align:middle;
}

.clearit{
    clear: both;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 50px;
  vertical-align: bottom;
    padding: 5px;
}